a {
  text-decoration: none;
}

.card {
  width: 300px; /* Fija el ancho */
  height: 400px; /* Fija la altura */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Espaciado uniforme entre imagen y texto */
  text-align: center;
  /*margin: 0 auto;  Asegura que se alineen bien */
  background-color: #962e2e;
  /* background-image: url('../../assets/fondo-card.jpg'); */
  background-size: cover;
  border-radius: 5px;
  border: solid rgba(255,255,255,0.65) 1px;
  box-shadow: 1px -1px 25px -5px rgba(255,255,255,0.65);
  transition: transform 0.3s ease;
  overflow: hidden; /* Evita que el contenido se desborde */
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0px 8px 20px rgba(255, 0, 0, 0.8); /* Toque rojo en hover */
}

.imgCard {
  width: 100%;
  height: auto;
  aspect-ratio: 4/3; /* Ajusta según la proporción deseada */
  object-fit: cover;
  /* border-radius: 5px; */
  overflow: hidden; /* Evita desbordes */
  background-color: #000; /* Para rellenar posibles bordes */
}


.nameCard {
  font-size: 24px;
  color: #fff; /* Texto blanco */
  font-family: "Roboto", sans-serif;
}

.teamsCard {
  font-size: 16px;
  color: #ccc; /* Texto gris claro */
}