.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #af585878;
  background-image: url('../../assets/fondo_home.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 83.2vh;
}

a{
  margin-right: 0;
}

.cardsHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.paginationHome {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 10px;
  padding: 15px 20px;
  background: #fff;
  border: solid rgb(123, 123, 123) 1px;
  border-radius: 10px;
}

.buttonPaginationHome {
  margin: 0 10px;
  background-color: #fff;
  color: #900;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.3s ease;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-shadow: 0px 0px 2px white;
}

.buttonPaginationHome:hover {
  background-color: #900;
  color: #fff;
  box-shadow: none;
}

.spanPaginationHome {
  margin: 0 10px;
  padding: 8px;
  border-radius: 100%;
  font-size: 24px;
  font-weight: 800;
  color: #900;
}