.home {
  background-color: #111; /* Fondo más oscuro */
  background-image: url('../../assets/fondo_home.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: white; /* Mejor contraste general */
}

a{
  margin-right: 0;
}

.cardsHome {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Mantiene el espacio entre tarjetas */
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.paginationHome {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.buttonPaginationHome {
  background-color: #900;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.buttonPaginationHome:hover {
  background-color: #c00; /* Rojo más vibrante */
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.spanPaginationHome {
  margin: 0 10px;
  padding: 8px;
  border-radius: 100%;
  font-size: 24px;
  font-weight: 800;
  color: #900;
}