a {
    text-decoration: none;
}

.navHeader {
    background: radial-gradient(circle farthest-corner at center, #071534 0%, #470303 200%);
    border-bottom: 1px solid rgb(123, 123, 123);
    padding: 1rem;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 1rem; /* Espaciado uniforme */
}

.navButtons button:first-child {
    margin-right: auto; /* Empuja el primer botón hacia la izquierda */
}

.navButton {
    background-color: #E10600;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.navButton:hover {
    background-color: #fff;
    color: #E10600;
    box-shadow: none;
}
