/* Reseteo básico */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arial', sans-serif; /* Cambia por una fuente futurista si quieres */
  background-color: #121212; /* Negro moderno */
  color: #FFFFFF; /* Blanco para contraste */
  line-height: 1.5; /* Configuración global para textos */
  box-sizing: border-box; /* Para que padding y bordes no afecten las dimensiones */
}

/* Tipografía */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #E10600; /* Rojo Fórmula 1 */
}

p {
  margin: 0;
  color: #BBBBBB; /* Gris claro para el texto */
}

/* Root container */
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

